[toolchain]
anchor_version = "0.31.1"
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
flashloan_receiver_example = "B8kFW5kGcjNDQ4ewQ4hAg8Mbhsv1ZMKSNKfFcVpgKPB6"
omnipair = "6wpw1CRQ3kuALv7oiih9BjT9PW1Ga7LtvTLNkhi3e9wZ"

[programs.localnet]
flashloan_receiver_example = "B8kFW5kGcjNDQ4ewQ4hAg8Mbhsv1ZMKSNKfFcVpgKPB6"
omnipair = "6wpw1CRQ3kuALv7oiih9BjT9PW1Ga7LtvTLNkhi3e9wZ"

[programs.mainnet]
omnipair = "3tJrAXnjofAw8oskbMaSo9oMAYuzdBgVbW3TvQLdMEBd"

[registry]
url = "https://devnet.helius-rpc.com/?api-key=66a4060b-2453-49cd-bf7a-fa03546c97ec"

[provider]
cluster = "devnet"
wallet = "testnet-keypair.json"

[workspace]
members = ["programs/omnipair", "examples/flashloan_receiver"]

[scripts]
build = "anchor build -p omnipair"
build-devnet = "anchor build -p omnipair -- --features \"development\""
build-mainnet = "anchor build -p omnipair -- --features \"production\""
